*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  position: relative; }

.header {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header > *:not(:last-child) {
    margin-bottom: 3rem; }
  .header__icon {
    width: 30px;
    height: 30px; }
  .header__name {
    text-transform: uppercase;
    background: black;
    color: white;
    font-size: 4rem; }
