*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 59.375em) {
    html {
      font-size: 50%; } }

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden; }

a {
  text-decoration: none; }

p {
  font-size: 1.6rem; }

.heading-1 {
  font-size: 10rem; }
  @media only screen and (max-width: 100em) {
    .heading-1 {
      font-size: 8rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-1 {
      font-size: 5rem;
      line-height: 1; } }

.heading-2 {
  font-size: 6rem;
  line-height: 1.2; }
  @media only screen and (max-width: 100em) {
    .heading-2 {
      font-size: 5rem; } }

.heading-3 {
  font-size: 3rem;
  line-height: 1.2; }

.heading-4 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase; }

.horizontal-dash {
  height: 3px;
  width: 6rem;
  background: #ff6600;
  border-radius: 50px; }

.vertical-dash {
  width: 3px;
  height: 6rem;
  background: #646464;
  border-radius: 50px; }

.orange {
  color: #ff6600; }

.bg-orange {
  background: #ff6600; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

@keyframes charRotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.services {
  display: flex;
  position: relative; }
  @media only screen and (max-width: 71.875em) {
    .services {
      flex-direction: column; } }
  .services__details {
    flex: 0 0 50%;
    padding: 10rem 7rem 10rem 20rem; }
    @media only screen and (max-width: 100em) {
      .services__details {
        padding: 8rem 3rem 8rem 10rem; } }
    @media only screen and (max-width: 71.875em) {
      .services__details {
        flex: 0 0 100%; } }
  .services__text {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 2rem; }
  .services__nums {
    display: flex; }
    .services__nums > *:not(:last-child) {
      margin-right: 1.5rem; }
  .services__img-box {
    flex: 50%;
    position: relative; }
    @media only screen and (max-width: 71.875em) {
      .services__img-box {
        width: 650px;
        margin: -15rem auto 10rem auto; } }
    @media only screen and (max-width: 43.75em) {
      .services__img-box {
        width: 400px; } }
    @media only screen and (max-width: 25em) {
      .services__img-box {
        width: 250px;
        margin: -8rem auto 10rem auto; } }
  .services__img {
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 100%; }
    @media only screen and (max-width: 71.875em) {
      .services__img {
        position: unset; } }
  .services__bg {
    width: 850px;
    position: absolute;
    right: 0;
    bottom: 100px; }
    @media only screen and (max-width: 100em) {
      .services__bg {
        width: 700px; } }
    @media only screen and (max-width: 81.25em) {
      .services__bg {
        bottom: -40px; } }
    @media only screen and (max-width: 71.875em) {
      .services__bg {
        position: relative;
        width: 100%; } }
  .services__arrow-box {
    position: absolute;
    background: red;
    bottom: 295px;
    right: 617px;
    transform: translateX(-50%);
    display: flex;
    font-size: 1.7rem; }
    @media only screen and (max-width: 100em) {
      .services__arrow-box {
        bottom: 261px;
        right: 494px; } }
    @media only screen and (max-width: 71.875em) {
      .services__arrow-box {
        bottom: 153px;
        right: 462px; } }
    @media only screen and (max-width: 43.75em) {
      .services__arrow-box {
        display: none; } }
    .services__arrow-box > * {
      padding: 4rem 1rem; }
  .services__arrow-left {
    background: #2c3da7;
    fill: white; }
  .services__arrow-right {
    background: white;
    fill: #2c3da7; }
  .services__icon {
    width: 2rem;
    height: 2rem; }

.intro {
  background: url("../img/background2.png");
  padding: 15rem 5rem 30rem 20rem;
  display: flex;
  color: white;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 71.875em) {
    .intro {
      padding: 9rem 5rem 25rem 8rem; } }
  @media only screen and (max-width: 43.75em) {
    .intro {
      padding: 9rem 5rem 20rem 8rem; } }
  .intro__details {
    flex: 0 0 50%; }
  .intro__slide-box {
    flex: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
  .intro__slide {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; }
  .intro__text {
    line-height: 2; }
  .intro__sign-box {
    display: flex;
    align-items: center; }
    .intro__sign-box > *:not(:last-child) {
      margin-right: 2rem; }
  .intro__quote {
    font-size: 80rem;
    font-family: "Poppins", sans-serif;
    line-height: 0;
    position: absolute;
    bottom: -20rem; }
  .intro__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    cursor: pointer; }
  .intro__num-box {
    text-align: center;
    margin: 10rem 0;
    font-size: 4.5rem;
    font-weight: 900; }
  .intro__num {
    opacity: 0.7; }
    .intro__num > *:not(:last-child) {
      margin-bottom: 2rem; }
    .intro__num--active {
      opacity: 1;
      font-size: 6.5rem; }
  .intro .slick-active:nth-child(2) {
    opacity: 1;
    font-size: 6.5rem; }

.gallery {
  padding: 15rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 59.375em) {
    .gallery {
      padding: 10rem 8rem; } }
  @media only screen and (max-width: 43.75em) {
    .gallery {
      padding: 10rem 2rem; } }
  .gallery__heading {
    text-align: center; }
  .gallery__list {
    list-style: none;
    display: flex;
    margin: 5rem 0; }
  .gallery__item {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #5e5e5e;
    transition: 0.3s;
    border: 1px solid transparent; }
    .gallery__item:not(:last-child) {
      margin-right: 4rem; }
    .gallery__item--active {
      border-bottom: 2px solid #ff6600; }
    .gallery__item:hover {
      border-bottom: 2px solid #ff6600; }
  .gallery__intro {
    text-align: center; }
  .gallery__box {
    width: 70%; }
    @media only screen and (max-width: 81.25em) {
      .gallery__box {
        width: 100%; } }

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tasks__heading {
    text-align: center;
    padding: 0 4rem; }
  .tasks__text {
    width: 80%; }
  .tasks span {
    display: block; }

.video {
  background: #ff6600;
  height: 60rem;
  position: relative; }
  .video__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: block;
    width: 65%;
    height: 108%;
    object-fit: cover;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 43.75em) {
      .video__img {
        width: 100%;
        height: 100%; } }
  .video__play {
    position: absolute;
    left: 20%;
    top: 0;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 43.75em) {
      .video__play {
        top: 5rem;
        left: 5rem; } }
    .video__play span {
      display: block; }
    .video__play > * {
      margin-right: 2rem; }
  .video__btn {
    width: 6rem;
    cursor: pointer; }

.authors {
  padding: 15rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .authors__heading {
    text-align: center; }
  @media only screen and (max-width: 71.875em) {
    .authors {
      padding: 12rem 8rem; } }
  @media only screen and (max-width: 43.75em) {
    .authors {
      padding: 8rem 2rem; } }
  .authors > *:not(:last-child) {
    margin-bottom: 5rem; }
    @media only screen and (max-width: 59.375em) {
      .authors > *:not(:last-child) {
        margin-bottom: 3rem; } }
  .authors__text {
    width: 45%;
    text-align: center; }
  .authors__intro {
    width: 58%;
    text-align: center; }
  .authors__quote {
    font-size: 2.5rem;
    font-weight: 500; }
  .authors__leader {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600; }
  .authors__name {
    margin-top: 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ff6600;
    font-weight: 600; }
  .authors__position {
    font-size: 1.3rem; }
  .authors__img-box {
    display: flex; }
  .authors__img {
    width: 5.5rem !important;
    height: 5.5rem !important;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.7;
    transition: 0.3s;
    outline: none; }
    .authors__img--active, .authors__img:hover {
      opacity: 1;
      transform: scale(1.3); }
    .authors__img:not(:last-child) {
      margin-right: 1.5rem; }
  .authors .slider-nav .slick-track {
    height: 100px;
    display: flex;
    align-items: center;
    width: 400px !important;
    justify-content: center;
    transform: none !important; }

.header {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 10rem;
  text-align: center; }
  .header > *:not(:last-child) {
    margin-bottom: 4rem; }
  .header__icon {
    width: 30px;
    height: 30px; }
    .header__icon:not(:last-child) {
      margin-right: 2rem; }
  .header__name {
    text-transform: uppercase;
    background: black;
    color: white;
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 0 1rem; }
  .header__intro {
    display: flex;
    align-items: center; }
    .header__intro > *:not(:last-child) {
      margin-right: 1rem; }
  .header__intro-text {
    font-size: 1.6rem; }

.footer {
  background: #1a1a1a; }
  .footer__box {
    display: flex;
    width: 80%;
    margin: auto;
    color: white;
    padding: 5rem;
    justify-content: space-between; }
    @media only screen and (max-width: 81.25em) {
      .footer__box {
        width: 90%; } }
    @media only screen and (max-width: 71.875em) {
      .footer__box {
        width: 100%; } }
    @media only screen and (max-width: 43.75em) {
      .footer__box {
        justify-content: space-between; } }
    @media only screen and (max-width: 25em) {
      .footer__box {
        flex-direction: column; }
        .footer__box > *:not(:last-child) {
          margin-bottom: 3rem; } }
  .footer__links {
    flex: 0 0 25%; }
    @media only screen and (max-width: 43.75em) {
      .footer__links {
        flex: 0 0 35%; } }
    .footer__links-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
    .footer__links-item {
      flex: 0 0 45%; }
      .footer__links-item:not(:last-child) {
        margin-bottom: 1rem; }
    .footer__links-link {
      font-size: 1.2rem;
      transition: 0.3s; }
      .footer__links-link:link, .footer__links-link:visited {
        color: white; }
      .footer__links-link:hover, .footer__links-link:active {
        color: #ff6600; }
  .footer__contact {
    flex: 0 0 18%;
    font-size: 1.4rem; }
    @media only screen and (max-width: 43.75em) {
      .footer__contact {
        flex: 0 0 25%; } }
    .footer__contact-list {
      list-style: none; }
    .footer__contact-group {
      display: flex;
      align-items: flex-start; }
      .footer__contact-group:not(:last-child) {
        margin-bottom: 2rem; }
    .footer__contact-icon {
      margin-right: 2.2rem;
      color: #ff6600; }
    .footer__contact-detail {
      font-size: 1.4rem;
      line-height: 1; }
  .footer__form {
    flex: 0 0 17%; }
    @media only screen and (max-width: 43.75em) {
      .footer__form {
        flex: 0 0 25%; } }
    .footer__form > * {
      display: block;
      margin-bottom: 2rem; }
    .footer__form-input {
      width: 100%;
      border: 1px solid #454545;
      border-radius: 4px;
      padding: 1rem 2rem;
      background: transparent;
      color: white;
      transition: 0.3s; }
      .footer__form-input:focus {
        outline: none;
        border: 1px solid #ff6600; }
    .footer__form-submit {
      outline: none;
      padding: 1rem 2rem;
      background: #ff6600;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      transition: 0.3s; }
      .footer__form-submit:hover {
        transform: translateY(-5px) scale(1.05);
        color: white; }
  .footer__feed {
    flex: 0 0 28%; }
    @media only screen and (max-width: 43.75em) {
      .footer__feed {
        display: none; } }
    .footer__feed-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
    .footer__feed-img {
      flex: 0 0 20%;
      width: 100%;
      display: block;
      object-fit: cover;
      height: auto;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem; }

.btn:link, .btn:visited {
  width: 170px;
  height: 50px;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1.4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s; }

.btn--orange {
  background: #ff6600;
  color: white; }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff6600;
  border-radius: 50px;
  z-index: -1;
  transition: 0.4s;
  visibility: hidden; }

.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scaleX(1.6) scaleY(1.4);
    opacity: 0; }

.circle-num {
  position: relative;
  border: 1px solid black;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }
  .circle-num--active {
    background: #ff6600;
    color: white;
    border-color: #ff6600; }

.photos-show__photo {
  width: 45%;
  height: 60rem;
  display: inline-block;
  object-fit: cover;
  margin: 0 1.5rem 3rem 1.5rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 81.25em) {
    .photos-show__photo {
      margin: 0 2.2rem 6rem 2.2rem;
      height: 50rem; } }
  @media only screen and (max-width: 71.875em) {
    .photos-show__photo {
      width: 100%;
      margin: 5rem auto; } }
  @media only screen and (max-width: 71.875em) {
    .photos-show__photo {
      height: 40rem; } }
  .photos-show__photo:nth-child(2) {
    margin-top: 10rem; }
    @media only screen and (max-width: 71.875em) {
      .photos-show__photo:nth-child(2) {
        margin-top: 5rem; } }

.tasks__list {
  display: flex;
  flex-wrap: wrap; }

.tasks__item {
  flex: 33.3%;
  padding: 7rem 10rem;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: transparent;
  transition: 0.4s; }
  .tasks__item:hover {
    background: #2c3da7;
    color: white;
    fill: white; }

.tasks__icon {
  width: 7rem; }

.gallery-2 {
  display: flex;
  flex-wrap: wrap; }
  .gallery-2__photo-box {
    flex: 0 0 8.33%;
    height: 15rem; }
    @media only screen and (max-width: 71.875em) {
      .gallery-2__photo-box {
        flex: 0 0 12.5%;
        height: 13rem; } }
  .gallery-2__photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.gallery-3 {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 5rem auto;
  justify-content: center; }
  .gallery-3__photo {
    display: block;
    width: auto;
    height: 4rem;
    object-fit: cover; }
    .gallery-3__photo:not(:last-child) {
      margin-right: 4rem;
      margin-bottom: 4rem; }
