.services {
  display: flex;
  & > * {
    flex: 0 0 50%;
  }

  &__details {
    padding: 10rem 15rem 10rem 20rem;
  }

  &__text {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 2rem;
  }
}
