.header {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 10rem;
  text-align: center;

  & > *:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__icon {
    width: 30px;
    height: 30px;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__name {
    text-transform: uppercase;
    background: black;
    color: white;
    font-size: 4rem;
    font-family: $font-1;
    font-weight: 700;
    padding: 0 1rem;
  }

  &__intro {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__intro-text {
    font-size: 1.6rem;
  }
}
