.gallery-3 {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 5rem auto;
  justify-content: center;
  &__photo {
    display: block;
    width: auto;
    height: 4rem;
    object-fit: cover;

    &:not(:last-child) {
      margin-right: 4rem;
      margin-bottom: 4rem;
    }
  }
}
