// Font
$font-1: "Montserrat", sans-serif;
$font-2: "Poppins", sans-serif;
// Color
$color-gray: #646464;
$color-orange: #ff6600;
$color-blue: #2c3da7;
$color-black-dark: #1a1a1a;
//Box shadow
$boxShadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
